{
  "name": "code-oss-dev",
  "version": "1.85.0",
  "distro": "066d3db67b0d9c0c49abb71b6f68b0944c0245b0",
  "author": {
    "name": "Microsoft Corporation"
  },
  "license": "MIT",
  "main": "./out/main.js",
  "private": true,
  "scripts": {
    "test": "mocha",
    "preinstall": "node build/npm/preinstall.js",
    "postinstall": "node build/npm/postinstall.js",
    "compile": "gulp compile --max_old_space_size=4095",
    "watch": "gulp watch --max_old_space_size=4095",
    "package": "gulp package --max_old_space_size=4095"
  },
  "devDependencies": {
    "@types/node": "18.x",
    "@typescript-eslint/eslint-plugin": "^5.45.0",
    "@typescript-eslint/parser": "^5.45.0",
    "electron": "32.0.1",
    "electron-builder": "^24.13.3",
    "electron-rebuild": "^3.2.9",
    "electron-updater": "^6.1.7",
    "electron-log": "^5.0.1",
    "eslint": "^8.28.0",
    "gulp": "^4.0.0",
    "typescript": "^4.9.4"
  },
  "dependencies": {
    "applicationinsights": "1.0.7",
    "graceful-fs": "4.2.6",
    "http-proxy-agent": "^4.0.1",
    "https-proxy-agent": "^5.0.0",
    "iconv-lite-umd": "0.6.8",
    "jschardet": "3.0.0",
    "keytar": "^7.9.0",
    "minimist": "^1.2.6",
    "native-is-elevated": "0.4.3",
    "native-keymap": "^3.3.1",
    "native-watchdog": "^1.4.1",
    "node-pty": "^0.11.0-beta17",
    "semver-umd": "^5.5.3",
    "spdlog": "^0.13.6",
    "sudo-prompt": "^9.0.0",
    "tas-client-umd": "0.1.8",
    "v8-inspect-profiler": "^0.1.1",
    "vscode-oniguruma": "^1.7.0",
    "vscode-textmate": "^8.0.0",
    "yauzl": "^2.9.2",
    "yazl": "^2.4.3"
  },
  "optionalDependencies": {
    "windows-foreground-love": "0.4.0",
    "windows-mutex": "0.4.2",
    "windows-process-tree": "0.4.0"
  },
  "resolutions": {
    "**/node-gyp": "^9.3.1"
  }
}